#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.game-board {
  width: 390px;
  display: grid;
  grid-template-columns: repeat(6, 60px);
  grid-gap: 5px;
  margin: 20px auto;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.cell.clicked {
  background-color: #f6f6f6;
}

.cell.has-item {
  background-color: #fff;
}
